[Desktop Entry]
Encoding=UTF-8
Name=Link to Slider
Type=Link
URL=http://www.finetimetravel.com/assets/slider-8b8a76069dfac0f62f315a824008c0d9.jpg
Icon=image-jpeg
